:root{
	font-size: 14px;
}
body{
	margin: 0;
	padding: 0;


}
.cardactive{
	background-color: #E0E0E0;
}
.cardactive1{
	
	background-color: #E0E0E0;
}
.edit{
    width: inherit;
    height: 10vh;
	margin-top: 10px;
    background-color: #FDFDFA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.edit2{
    width: inherit;
    height: 10vh;
	margin-top: 10px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.card{

  flex-direction: row;
border:0;
height: 74px;
}
.chatcard{
	max-width: 30vw;
	margin:15px;
	background-color: #FDFDFA;
display: flex;
flex-direction: row;
border-radius: 1vh;
}
.chatcard1{
	max-width: 30vw;
	margin:15px;
	background-color: #DCF8C6;
display: flex;
flex-direction: row;
border-radius: 1vh;
}
.chattext{
	 font-family: 'Source Sans Pro', sans-serif;

	font-size: 1.5rem;
	margin: 6px;

}

.chatcardpage{
	max-width: 68vw;
	margin:15px;
	background-color: #FDFDFA;
display: flex;
flex-direction: row;
border-radius: 1vh;
}
.chatcard1page{
	max-width: 68vw;
	margin:15px;
	background-color: #DCF8C6;
display: flex;
flex-direction: row;
border-radius: 1vh;
}
.chattextpage{
	 font-family: 'Source Sans Pro', sans-serif;

	font-size: 1.5rem;
	margin: 6px;

}
.logo{

	width: 8vmax;
	height: inherit;
}
.navi{

height: 60px;
}

.white-back{
	height: 75px;
	background-color: #FFFFFF;
	
     border-bottom: 1px solid #E0E0E0;
     border-right: 1px solid #E0E0E0;
     
}
.grey-back1	{
	height: 75px;
	background-color: #E0E0E0;
    align-items: center;
	border-right: 1px solid #C0C0C0;
     border-bottom: 1px solid #E0E0E0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

	
}
.pic{
	
	height: 60px;
	padding: 7px;
	
}
.pic4{
	margin-top: 15px;
	height: 40px;
	width: 40px;
	padding: 7px;
	
}
.pic3{
	width: 60px;
	height: 60px;
	padding: 5px;
	
}
.card-body{
	
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 3px;
	padding: 0;
}
.name{
	margin-top: 0;
	font-weight: bold;
	
	font-size: 20px;
	padding: 0;
}
.wow{

display: flex;
justify-content: center;
align-items: center;
}
.pic2{
	height: 5vmin;
	width: 5vmin;
	

}
.pic6{
	height: 50px;
	width: 50px;
	position: relative;
	margin-bottom: 90px;

	display: flex;
	align-self: center;
	
	

}
.btn{
background-color: #E0E0E0;
border:0;
}
.message{
	font-size: 15px;
	
	
	margin-left: 5px;	
}
.texts{
margin-top:2px;
	
	display: flex;
	height: 12vh;
	flex-direction: column;
}
.activepic{
padding-bottom: 15px;

}

.profiles{

	margin-top: 1px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height:750px;
   justify-content: space-between;
}

.activechat{
height: 75px;
	background-color: #E0E0E0;
	
     border-bottom: 1px solid #E0E0E0;
     border-right: 1px solid #E0E0E0;

}
.enter{
	background-color: #F6EEF4;
}

.chatarea{
	background-image: url('appback.png');
	height: 67vh;
	border: 1px solid #E0E0E0;
}
.chatarea2{
	background-image: url('appback.png');
	height: 78vh;
	border: 1px solid #E0E0E0;
}
.chatareapage{
	background-image: url('appback.png');
	height: 80vh;
	border: 1px solid #E0E0E0;
}
.profilee{
	
	align-self: center;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    
	
}
.protext1{
	color: #00994C;
	margin: 10px;
	font-size: 1.5rem;

	align-self: center;

}
.protext{
	color: #000000;
	margin: 10px;
	font-size: 1.5rem;

	align-self: center;

}
.tick{ 
	margin-top: 2px;
	height:15px;
	width: 20px;
}
.tick1{ 
	margin-top: 2px;
	height:22px;
	width: 27px;
}
.message1{
   
	display: flex;
	flex-direction: row;
	
}
.text-muted{
	margin-right: 20px;
}
.message2{
   
	display: flex;
	flex-direction: row;
	width: 170px;
}
.not{
margin-top: 2px;
	height:32px;
	width: 33px;
   

}
.profile{

    margin-top: 8vh;
	height: 47vmin;
	width:47vmin;
flex-direction: row;
display: flex;
}
.scroll
{
    max-height: 69vh;
    overflow-y: scroll;
}
.scrollpage
{
    max-height: 69vh;
    overflow-y: scroll;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;

}
@media only screen and (max-width: 767px){

	.cardactive{
		background-color: #FFFFFF;
	}
	
	.activechat{
		background-color: #FFFFFF;
	}
}

@media only screen and (max-width: 991px){

	.profile{
		margin-left: 12vw;
	}
}



